/* styles.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(135deg, #1e3c72, #2a5298);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fca103;
}

.hero-content {
  text-align: center;
  padding: 40px;
  border-radius: 12px;
  background: rgb(251, 161, 3);
}

.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.hero-content h2 {
  font-size: 1.5rem;
  font-weight: 300;
  opacity: 0.9;
}
